.main {
  width: 100vw;
  height: 90vh;

  opacity: 0.80;
  background-blend-mode: luminosity;
  background-image: url("fitness-ge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
