@mixin menu-style($background-color) {
  position: fixed;
  left: 0;
  top: 0;

  z-index: 999;

  height: 100vh;
  width: 300px;

  background-color: $background-color;
}

.overlay {
  @include menu-style(rgba(0, 0, 0, 0.5));

  width: 100vw;
  z-index: 998;
}

.menu {
  @include menu-style(white);

  display: flex;
  flex-flow: column nowrap;
}
