.product_list {
  margin: 50px auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .product_card {
    box-sizing: border-box;

    margin: 20px;
    padding: 20px 22.5px;
    padding-bottom: 10px;

    max-width: 280px;
    max-height: 500px;

    border-radius: 5px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    transition: box-shadow 0.4s ease;

    &:hover {
      box-shadow: 0 0 10px 0 gray;

      code {
        display: none;
      }

      button {
        display: block;
      }
    }

    img {
      width: 80%;
      max-height: 250px;
    }

    p {
      box-sizing: border-box;

      text-align: center;

      padding: 8px 10px;

      letter-spacing: 1px;
      font-size: 0.9rem;
      line-height: 1.5;
    }

    code {
      display: inline-block;

      font-size: 0.8rem;

      border-bottom: 1px solid;

      color: rgb(14, 218, 197);
    }

    button {
      box-sizing: border-box;

      display: none;

      padding: 8px 15px;

      max-width: 150px;
      max-height: 40px;

      border: none;

      font-size: 1rem;
      letter-spacing: 0.5px;

      color: white;
      background-color: #6ca300;

      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: azure;
        background-color: #7c0;
      }
    }
  }
}
