@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.search_bar {
  width: 100%;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  .input {
    width: 85%;
    height: 70px;

    padding-left: 15px;

    color: #000000;
    border: 1px solid rgb(236, 231, 231);

    cursor: initial;

    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }

  .search {
    height: 75px;
    width: 15%;

    cursor: pointer;

    padding: 0;
    margin: 0;

    border: none;
    background: url("/bullet-magnifier-search.png") #228cb6 no-repeat center;

    transition: background-color 0.25s;

    &:hover {
      background-color: #7c0;
    }
  }
}
