.login:hover {
  color: #007bff;
}

.register:hover {
  color: #28a745;
}

.login,
.register {
  color: #333;
  padding: 0 3.5px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
