.language_bar {
  height: 3vh;

  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;

  padding: 0.8vh;
  background-color: rgba(78, 176, 22, 1);
}

.language {
  margin-right: 12.5px;
  transition: transform 0.2s;
}

.language:hover {
  cursor: pointer;
  transform: scale(1.1);
}
