.navbar {
  max-width: 50%;
  margin: 50px auto;
}

.navbar a {
  box-sizing: border-box;
  padding: 12px 10px;
  display: block;

  text-decoration: none;
  font-size: 1rem;
  color: #f2f2f2;
}

.navbar a:hover {
  background: none;
  color: rgb(240, 154, 25);
}
