.search_bar {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  width: 85%;
  margin: 0 auto;
  margin-top: 55px;
}

.input {
  padding-left: 15px;
  width: 88%;
  height: 32px;

  color: #000000;
  font-size: 0.95rem;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.search {
  height: 40px;
  width: 17%;

  cursor: pointer;
  padding: 0;
  margin: 0;

  border: none;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  background: url("bullet-magnifier-search.png") #7c0 no-repeat 5px center;
}
